In [2]:
import pandas as pd
from pandas_datareader import data, wb
import datetime

In [3]:
start = pd.to_datetime('2020-02-04')
end = pd.to_datetime('today')

In [4]:
tesla_df = data.DataReader('TSLA', 'yahoo', start, end)

In [5]:
tesla_df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-02-04,193.798004,166.776001,176.591995,177.412003,304694000.0,177.412003
2020-02-05,169.195999,140.822006,164.651993,146.940002,242119000.0,146.940002
2020-02-06,159.166000,137.399994,139.983994,149.792007,199404000.0,149.792007
2020-02-07,153.949997,146.000000,146.110001,149.613998,85317500.0,149.613998
2020-02-10,163.998001,150.479996,160.000000,154.255997,123446000.0,154.255997
...,...,...,...,...,...,...
2021-06-17,621.469971,601.340027,601.890015,616.599976,22701400.0,616.599976
2021-06-18,628.349976,611.799988,613.369995,623.309998,24528400.0,623.309998
2021-06-21,631.390015,608.880005,624.479980,620.830017,24812700.0,620.830017
2021-06-22,628.570007,615.500000,618.250000,623.710022,19135400.0,623.710022
2021-06-23,657.200012,630.130005,632.000000,656.570007,31099228.0,656.570007